<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>8_SessionManagement</display-name>
	
	<servlet>
		<servlet-name>SourceServlet</servlet-name>
		<servlet-class>com.udemy.course.Session.SourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SourceServlet</servlet-name>
		<url-pattern>/sourceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TargetServlet</servlet-name>
		<servlet-class>com.udemy.course.Session.TargetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TargetServlet</servlet-name>
		<url-pattern>/targetServlet</url-pattern>
	</servlet-mapping>
	
</web-app>