<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>17_ProductCouponAccountApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>SupplierSessionFilter</filter-name>
  	<filter-class>app.CPA.frontend.filters.SupplierSessionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>SupplierSessionFilter</filter-name>
  	<url-pattern>/frontend_views/supplier/supplierHome.jsp</url-pattern>
  	<url-pattern>/frontend_views/supplier/createProduct.jsp</url-pattern>
  	<url-pattern>/frontend_views/supplier/createCoupon.jsp</url-pattern>
  </filter-mapping>
  
  <!--  <filter>
  	<filter-name>UserSessionFilter</filter-name>
  	<filter-class>app.CPA.frontend.filters.UserSessionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>UserSessionFilter</filter-name>
  	<url-pattern>/frontend_views/supplier/supplierHome.js</url-pattern>
  </filter-mapping>-->
</web-app>